<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <h5><%= product.description %></h5>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price %>
  </td>
  <td>
    <%= lineItem.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol product.price * lineItem.quantity %>
  </td>
</tr>
